<!DOCTYPE html>
<html lang="zh-CN">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/step.css" />
    <style type="text/css">
      .step-list {
        min-height: 200px;
      }

    </style>
  </head>

  <body>
    <div style="display: flex;margin: 0px 39px 44px 39px;justify-content: space-between">
      <div style="display: flex">
        <img style="margin-right: 16.5px" src="static/images/icon.svg" alt="" />
        <p style="color: #3F51B5;font-size: 16px;">Hand Cloud Platform</p>
      </div>
      <a id="login" href="login">
        <p style="padding: 4px 13px;font-size: 12px;background: #303F9F;color: white;border-radius: 2px;cursor: pointer;">登录</p>
      </a>
    </div>
    <div class="step-body" id="myStep">
      <h1 style="font-size:24px;font-weight: lighter;">找回密码</h1>
      <div class="step-header">
        <ul>
          <li>
            <p>输入邮箱</p>
          </li>
          <li>
            <p>验证邮箱</p>
          </li>
          <li>
            <p>修改密码</p>
          </li>
        </ul>
      </div>
      <div class="step-content" style="margin-top: 100px;">
        <div class="step-list">
          <div>
            <div style="display: flex;margin-bottom:10px;">
              <p style="font-size: 14px;">请填写你需要找回的账号邮箱</p>
            </div>
            <div style="display: flex;align-items: center;">
              <input id="mail" class="step-input" placeholder="请输入邮箱" type="text" />
            </div>
              <p id="step1Email" style="font-size: 14px;color: red;margin-top:10px;"></p>

              <p id="mailInfo" style="color: red;font-size: 14px;display:none;margin-top: 10px">邮箱不能为空</p>
            <div style="margin-top: 10px;display: flex;align-items: center;margin-bottom:10px;">
              <p style="font-size: 14px;">验证码</p>
            </div>
            <div style="display: flex;align-items: center;justify-content: space-between;width:385px;">
              <input style="width:200px;" id="checkcode" class="step-input" placeholder="请输入验证码" type="text" />
              <img id="imgObj" src="public/captcha" style="border: 1px solid #ccc; float: right;width: 88px;height: 32px;" onclick="changeImg()"
              />
            </div>
            <p id="checkcodeInfo" style="color: red;font-size: 14px;display:none;margin-top:10px;">验证码不能为空</p>
              <p id="step1Code" style="font-size: 14px;color: red;margin-top:10px;"></p>
              <p class="itemNext1" style="margin-top: 35px;width: 36px;padding: 4px 13px;font-size: 12px;background: #303F9F;color: white;border-radius: 2px;cursor: pointer;">下一步</p>
          </div>
        </div>
        <div class="step-list">
          <div>
            <p style="font-size: 14px;">获取验证码</p>
            <div style="display: flex;">
              <p style="font-size: 14px;margin-top: 6px;margin-right: 50px;">Choerodon会将验证码发送到
                <span id="checkEmail" style="font-weight: bold;margin-left: 5px;"></span>
              </p>
              <p id="sendcode" style="padding: 4px 13px;font-size: 12px;background: #303F9F;color: white;border-radius: 2px;cursor: pointer;">发送验证码</p>

            </div>
            <div style="margin-top: 20px;display:flex;">
              <p style="font-size: 14px;margin-bottom:10px;">验证码</p>
            </div>
            <div style="display: flex;align-items: center;">
              <input id="checkcode2" class="step-input" placeholder="请输入验证码" type="text" />
            </div>
              <p id="step2Code" style="font-size: 14px;color: red;margin-top:10px;"></p>
              <p id="checkcode2Info" style="color: red;font-size: 14px;display:none;margin-top:10px;">验证码不能为空</p>
              <div style="display: flex;">
              <p class="itemPrevious" style="margin-right: 20px;margin-top: 35px;width: 36px;padding: 4px 13px;font-size: 12px;background: #303F9F;color: white;border-radius: 2px;cursor: pointer;">上一步</p>
              <p class="itemNext2" style="margin-top: 35px;width: 36px;padding: 4px 13px;font-size: 12px;background: #303F9F;color: white;border-radius: 2px;cursor: pointer;">下一步</p>
            </div>
          </div>
        </div>
        <div class="step-list">
          <div>
            <p style="font-size: 14px;">新密码</p>
            <div style="display: flex;align-items: center;">
              <input type="password" id="newPassword" class="step-input" placeholder="请输入新密码" />
            </div>
              <p id="newPasswordInfo" style="color: red;font-size: 14px;display:none;margin-top:10px;">密码不能为空</p>
              <p style="font-size: 14px;margin-top: 20px">重新输入新密码</p>
            <div style="display: flex;align-items: center;">
              <input type="password" id="newPassword2" class="step-input" placeholder="请重新输入新密码" />
            </div>
              <p id="newPassword2Info" style="color: red;font-size: 14px;display:none;margin-top:10px;">密码不能为空</p>
              <p id="newPassword2Info2" style="color: red;font-size: 14px;display:none">两次密码输入不一致</p>
            <p id="save" style="margin-top: 45px;width: 24px;padding: 4px 13px;font-size: 12px;background: #303F9F;color: white;border-radius: 2px;cursor: pointer;">保存</p>
          </div>

        </div>

      </div>

    </div>
    <!-- <button id="goBtn">跳到步</button> -->

    <script src="static/jquery.min.js"></script>
    <script src="static/step.js"></script>
    <script src="static/captcha.js">

    </script>
    <script>
      $(function () {

        var step = $("#myStep").step();

        // 邮箱输入 错误提示消失
        $('#mail').change(function () {
          if ($('#mail').val() !== '') {
            $('#mailInfo').css('display', 'none');
            $('#mail').css('border-color',"rgba(0,0,0,0.26)");
              $('#step1Email').text('');
          }
        })
        // 验证码输入 错误提示消失
        $('#checkcode').change(function () {
          if ($('#checkcode').val() !== '') {
            $('#checkcodeInfo').css('display', 'none');
            $('#checkcode').css('border-color','rgba(0,0,0,0.26)');
            $("#step1Code").text('');
          }
        })
        // 第二验证码输入 错误提示消失
        $('#checkcode2').change(function () {
          if ($('#checkcode2').val() !== '') {
            $('#checkcode2Info').css('display', 'none');
            $('#checkcode2').css('border-color', 'rgba(0,0,0,0.26)');
            $('#step2Code').text('');
          }
        })
        // 新密码输入
        $('#newPassword').change(function () {
          if ($('#newPassword').val() !== '') {
            $('#newPasswordInfo').css('display', 'none');
            $('#newPassword').css('border-color','rgba(0,0,0,0.26)');
          }
        })
        // 新密码确认输入
        $('#newPassword2').change(function () {
          if ($('#newPassword2').val() !== '') {
            $('#newPassword2Info').css('display', 'none');
            $('#newPassword2').css('border-color','rgba(0,0,0,0.26)');
            $('#newPassword2Info2').css('display', 'none');
          }
        });
        $('#mail,#checkcode').keydown(function (event) {
            if (event.which == 13) {
                $('.itemNext1').click();
            }
        });
          $('#checkcode2').keydown(function (event) {
              if (event.which == 13) {
                  $('.itemNext2').click();
              }
          })
        // 第一步的下一步事件
        $(".itemNext1").click(function (event) {
          var a = 0;
          if ($('#mail').val() == '') {
            a += 1;
            $('#mailInfo').css('display', 'block');
            $('#step1Email').text('')
            $('#mail').css('border-color', 'red');
          }
          if ($('#checkcode').val() == '') {
            a += 1;
            $('#checkcodeInfo').css('display', 'block');
            $('#step1Code').text('');
            $('#checkcode').css('border-color','red');
          }
          if (a == 0) {
            $.ajax({
              type: 'POST',
              url: 'password/email',
              data: {
                'emailAddress': $('#mail').val(),
                'captcha': $('#checkcode').val(),
              },
              success: function (data) {
                window.console.log(data);
                $('#checkEmail').text(data.emailAddress);
                //                    sessionStorage.userId = data.userId;
                var yes = step.nextStep();
              },
              error: function (data) {
                window.console.log(data);
                if (data.responseJSON.code) {
                  $('#step1Email').text();
                  $("#step1Code").text(data.responseJSON.code);
                  $('#checkcode').css('border-color', 'red');
                } else {
                  $("#step1Code").text('');
                  $("#step1Email").text(data.responseJSON.email);
                  $('#mail').css('border-color', 'red');
                }
                changeImg();
              }
            })
          }
        })

        function sendcodeWay() {
          $('#sendcode').css('cursor', 'not-allowed')
          console.log("send");
          $.ajax({
            type: 'POST',
            url: 'password/code',
            data: {
              'emailAddress': $('#checkEmail').text(),
            },
            success: function (data) {
              console.log("success: " + data);
              $("#sendcode").css('background-color', 'gray');
              $("#sendcode").html('<div>重新发送<span id="times">60</span></div>');
              var time = 60;
              var siv = setInterval(function () {
                if (time == 0) {
                  $("#sendcode").text('发送验证码');
                  $('#sendcode').css('background-color', '#303F9F');
                  $('#sendcode').css('cursor', 'pointer');
                  //立即跳出settime函数，不再执行函数后边的步骤
                    clearInterval(siv);
                  return;
                } else {
                  $("#times").text(time);
                  time--;
                }
              }, 1000)
            },
            error: function (data) {
              window.console.log(data);
              alert(data.responseJSON.message);
              $('#sendcode').css('cursor', 'pointer')
              //                    $('#sendcode').attr('onclick', sendcodeFunction());
            }
          })
        }

        $('#sendcode').click(function () {
          sendcodeWay();
        })

        // 第二步的下一步事件
        $('.itemNext2').click(function (event) {
          var a = 0;
          if ($('#checkcode2').val() == '') {
            a += 1;
            $('#checkcode2Info').css('display', 'block');
            $('#checkcode2').css('border-color', 'red');
            $('#step2Code').text('');
          }
          if (a == 0) {
            $.ajax({
              type: 'GET',
              url: 'password/' + $('#checkcode2').val(),
              success: function (data) {
                console.log("success: " + data);
                var yes = step.nextStep();
              },
              error: function (data) {
                $('#step2Code').text(data.responseText);
                $('#checkcode2').css('border-color', 'red')
                window.console.log(data);
              }
            })
          }
        });
          $('#newPassword,#newPassword2').keydown(function (event) {
              if (event.which == 13) {
                  $('#save').click();
              }
          })
        // 保存按钮事件
        $('#save').click(function (event) {
          var a = 0;
          if ($('#newPassword').val() == '') {
            a += 1;
            $('#newPasswordInfo').css('display', 'block');
            $('#newPassword').css('border-color','red');
          }
          if ($('#newPassword2').val() == '') {
            a += 1;
            $('#newPassword2Info').css('display', 'block');
            $('#newPassword2').css('border-color','red');
          }
          if (a == 0) {
            if ($('#newPassword2').val() !== $('#newPassword').val()) {
              $('#newPassword2Info2').css('display', 'block');
              $('#newPassword').css('border-color','red');
              $('#newPassword2').css('border-color','red');
            } else {
              $.ajax({
                type: 'POST',
                url: 'password/reset',
                data: {
                  'password': $('#newPassword2').val(),
                },
                success: function (data) {
                  console.log("success: " + data);
                  location.href = login;
                  $('#login').click();
                },
                error: function (data) {
                  //                      alert(data);
                  window.console.log("error: " + data);
                }
              })
            }
          }
        })

        $(".itemPrevious").click(function (event) {
          var yes = step.preStep(); //上一步
            changeImg();
        });
        $("#goBtn").click(function (event) {
          var yes = step.goStep(3); //到指定步
        });
      });
    </script>
  </body>

</html>
