<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.oauth.infra.mapper.UserMapper">
    <select id="fulltextSearch" resultType="io.choerodon.oauth.infra.dataobject.UserDO">
        SELECT * FROM `iam_user` WHERE 1=1
        <if test="userDO != null">
            <if test="userDO.loginName!= null">
                AND login_name LIKE concat('%',#{userDO.loginName},'%')
            </if>
            <if test="userDO.organizationId != null">
                AND organization_id = #{userDO.organizationId}
            </if>
            <if test="userDO.ldap != null">
                AND  is_ldap = #{userDO.ldap}
            </if>
            <if test="userDO.realName != null">
                AND  real_name = #{userDO.realName}
            </if>
            <if test="userDO.enabled != null">
                AND  is_enabled = #{userDO.enabled}
            </if>
            <if test="userDO.locked != null">
                AND  is_locked = #{userDO.locked}
            </if>
            <!--<if test="userDO.booleanLocked != null and userDO.booleanLocked == false">-->
                <!--AND  locked = #{userDO.booleanLocked} or locked is null-->
            <!--</if>-->
            <!--下面的这个sql骚操作是为了在用户是否锁住随便输入的情况下不返回结果，不得已而为之啊-->
            <!--<if test="userDO.locked != null and userDO.booleanLocked == null">-->
                <!--AND locked = '??'-->
            <!--</if>-->
            <!--<if test="userDO.additionInfo != null">-->
                <!--AND addition_info LIKE concat('%',#{userDO.additionInfo},'%')-->
            <!--</if>-->
            <if test="userDO.email != null">
                AND email LIKE concat('%',#{userDO.email},'%')
            </if>
            <if test="userDO.language != null">
                AND language LIKE concat('%',#{userDO.language},'%')
            </if>
        </if>
        <if test="param != null">
            AND (
            login_name LIKE concat('%',#{param},'%') OR
            email LIKE concat('%',#{param},'%') OR
            language LIKE concat('%',#{param},'%') OR
            real_name LIKE concat('%',#{param},'%')
            )
        </if>
    </select>

    <select id="queryByProjectId" resultType="io.choerodon.oauth.infra.dataobject.UserDO">
        SELECT
        `iam_user`.*
        FROM
        `iam_user`
        INNER JOIN
            (SELECT DISTINCT member_id
                FROM member_role
                WHERE  member_role.resource_id = #{projectId}
                AND member_role.resource_type = 'project'
                AND member_role.member_type = 'user' ) u
        ON u.member_id =`iam_user`.id
        <if test="userDO != null">
            <if test="userDO.loginName != null">
                AND `iam_user`.login_name LIKE concat('%',#{userDO.loginName},'%')
            </if>
            <if test="userDO.realName != null">
                AND `iam_user`.real_name LIKE concat('%',#{userDO.realName},'%')
            </if>
        </if>
        <if test="param != null">
            AND (
            `iam_user`.login_name LIKE concat('%',#{param},'%') OR
            `iam_user`.real_name LIKE concat('%',#{param},'%')
            )
        </if>
    </select>

    <select id="selectMembersByRoleId" resultType="io.choerodon.oauth.infra.dataobject.UserDO">
        SELECT * FROM iam_user WHERE id in
        (SELECT DISTINCT member_id FROM member_role WHERE role_id = #{role_id} AND member_type = 'user')
    </select>

    <select id="selectAsyncUsers" resultType="io.choerodon.oauth.infra.dataobject.UserDO">
        SELECT iam_user.id, iam_user.login_name,iam_user.email,iam_user.organization_id,iam_user.real_name,iam_user.phone
        FROM iam_user
        WHERE iam_user.organization_id = #{organizationId}
        AND iam_user.id
        NOT IN
        <foreach collection="ids" index="index" item="item" open="("  separator="," close=")">
          #{item}
        </foreach>
    </select>
</mapper>
